/dist/
/build_dist/
/frontend/dist/
/backend/dist/
/node_modules/
/*.exe


logs/*
my.log
uv.lock

supervisor/supervisord.conf

tmp/*
!tmp/

models/*

db/novel.db

backend/TestingCode/*

backend/config/*

backend/*.yaml
backend/*.pyc
backend/*.log
backend/*.ipynb
backend/*.mp4

backend/.vscode
backend/.venv

__pycache__

!*/.gitkeep
